doctype
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title page 404
        meta(name="description" content="template")
        meta(name="keywords" content="template")
        meta(name="author" content="Kamrade")
        meta(name="apple-mobile-web-app-capable" content="yes")
        script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")

        link(rel="stylesheet" type="text/css" href="css/bundle.min.css")

    body
        a(href='#').switcher

        .screen.glitch
            .clock.is-off
                p.message It looks like You got lost
                span(data-time='').time
            .figure

        script(type="text/javascript" src="js/app.js")
